html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 1.2rem;
    box-sizing: border-box;
}

/* Header */

.header {
    background-color: rgb(238, 91, 91);
    padding: 1rem;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
}

h1,
h2 {
    margin: 0;
    color: rgb(32, 20, 100);
}

/* Content */

.wrapper {
    background: #CCC;
    min-height: 100%;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

.content {
    min-height: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.sect {
    width: 90%;
    margin: 3rem auto;
}

.sect_5 {
    height: 35rem;
    border: 1px solid #000;
    padding: 2rem;
}

.sect h2 {
    text-align: center;
    font-weight: normal;
    color: green;
}

a {
    text-decoration: none;
}

button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 1rem;
    margin: 1rem;
    cursor: pointer;
}

input {
    width: 10rem;
    height: 2rem;
    font-size: 1.3rem;
    color: red;
}

/* ДОБАВОЧНЫЕ КЛАССЫ */

.myclass_1 {
    color: rgb(231, 209, 82);
    text-align: center;
    padding: 2rem;
    font-size: 1.7rem;
    box-sizing: border-box;
}

.myclass_2 {
    color: rgb(233, 51, 111);
}

.myclass_3 {
    color: rgb(90, 228, 152);
}

.green {
    color: green;
}

.red {
    color: red;
}

/* sect 6 */

.div, span {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    padding: 15px;
    margin: 5px;
    background-color: #EEEEEE;
    font-size: 12pt;
  }

  .my_block {
      width: 90%;
      margin: 3rem auto;
      padding: 2rem;
      border: 1px solid #000;
      height: 5rem;
  }

  .inp_attr {
      width: 15rem;
      padding-left: 20px;
  }



/* Footer */

.footer {
    background: #36F;
    padding: 1rem;
    margin: 0;
    text-align: center;
    color: #fff;
}